li{
  background-color: white;
  list-style: none;

}
  
}
.item{
  text-align: center;
}
.itwm{
  text-align: center;
}

.lll{
  text-align:center
}
.li1{
  width: 115px;
  height: 150px;
}
.li2{
  width: 130px;
  height: 200px;
}
.li3{
  width: 150px;
  height: 240px;
}
